<div class="container-error-emailsent">

    <div class="email">
        <h2>Se completó la operación:</h2>
        <p>{{title}} a {{userEmail}}</p>
    </div>

    <p><a style="text-decoration: none; color: black; margin-left: 20px;" href="/"><button class="btn btn-success">Volver</button></a></p>

</div>