

<div class="row" style="justify-content: center; display: flex; align-items:center; margin-top: 20px; max-width: 30%;">
<h2 style="color: white;">No tienes acceso a este url</h2>
<button class="btn btn-danger" style="border: 1px solid black;"><a href="/" style="text-decoration: none; color: black;">< Volver</button>
</div>