<div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="card-body">

                <div class="error">
                    <h3>{{title}}</h3>
                    <h5>Ingrese su email para enviarle un link de restablecimiento a su correo electronico</h5>
                </div>
                <form action='/api/users/mail' method='post' class="row g-3">
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name='email' id="email" autocomplete="current-email">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary cartid">Enviar</button>
                    </div>
                </form>
 
            </div>

        </div>
    </div>
</div>