<body class="fondo">
<div class="resetPassForm">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="card-body">
                <div>   
                    <h2>{{title}}</h2>
                    <p style="font-size: 20px;">Ingrese su email para enviarle un link de restablecimiento a su correo electronico</p>
                </div>
                <form action='/api/users/mail' method='post' class="row g-3" id="resetPasswordForm">
                    <div class="col-md-6">  
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name='email' id="email" autocomplete="current-email">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" id="password">Enviar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/password.js"></script>