<div class="input-cont">
    <input class="input-search" type="text" id="form" placeholder="Buscar...">
	<button class="btn btn-outline-light mt-2 ms-2 mb-2" id="button">Buscar</button>
</div>
<div>
    <ul class="list-result" id="result">
	</ul>
</div>
<div style="background-color:rgb(255, 255, 255); border-radius: 8px; width: 80%; margin-left: 10em;">
    <h1 class="ms-3">Nuestras ofertas!</h1>
    <div class="random-prods" id="randomProds">

    </div>
</div>
<script src="js/search.js"></script>